@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Inter Regular'),
    local('Inter-Regular'),
    url('/fonts/inter/Inter-Regular.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Inter Medium'),
    local('Inter-Medium'),
    url('/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Inter SemiBold'),
    local('Inter-SemiBold'),
    url('/fonts/inter/Inter-SemiBold.woff2?v=3.19') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  height: 100%;
  overflow-x: hidden;
  scrollbar-gutter: initial !important;
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
  height: 100%;

  /* fix scroll layout shift */
  overflow-y: scroll;
  /* margin-left: calc(100vw - 100%); */

  @apply subpixel-antialiased relative grid grid-rows-[auto_1fr_auto];
  @apply scrollbar-thin scrollbar-track-base-300 scrollbar-thumb-base-content/60;
}

/* debug overflow */
/* * {
  outline: solid 1px red;
} */

@layer components {
  [data-theme='light'] .btn-md {
    @apply h-10 min-h-10;
  }

  [data-theme='night'] .btn-md {
    @apply h-10 min-h-10;
  }

  [data-theme='light'] .hidden-light {
    @apply hidden;
  }

  [data-theme='night'] .hidden-night {
    @apply hidden;
  }
}

.prose h1 {
  @apply text-primary text-2xl font-medium leading-10;
}

.prose h2 {
  @apply text-primary text-xl font-medium leading-9 mt-2 first-of-type:mt-0;
}

.prose h2,
.prose h3 {
  @apply text-primary;
}

.prose strong {
  @apply mb-3.5 leading-6 max-w-2xl font-semibold;
}

.prose em {
  @apply !not-italic;
}

.prose p {
  @apply mb-3.5 leading-6 max-w-2xl;
}

.prose a {
  @apply text-primary;
}

.prose ul {
  @apply list-disc list-outside pl-8 max-w-2xl;
}

img.imageerr {
  position: relative;
}
img.imageerr::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #e5e7eb;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(alt) ' ' attr(data-msg-onerror);
  padding: 20px;
  text-align: center;
}

/* forms */
[type='date'] {
  @apply flex appearance-none items-center justify-start;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
